@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin:0;

}

body{
    background-color: rgb(158, 35, 35);
    width: 1920px;
    height: 1000px;
}

header{
    background-color: rgb(158, 35, 35);
    width: 1920px;
    height: 100px;
    text-align: center;
}

header img{
    width: 270px;
    height: 100px;
}

h1{
    text-align: center;
    font-size: 55px;
    padding-top: 15px;
    color: aliceblue;
}

#ctnBtn{
    text-align: center;
}

#play{
    width: 120px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    margin-top: 100px; 
    background-color: rgb(0, 89, 255);
    color: aliceblue;
    border: solid aliceblue 2px;
}

article{
    width:550px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    
}

#zoneWin{
    width:460px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    display: none;
    color: aliceblue;
    font-size: 45px;
    text-align: center;
}

#zoneLose{
    width:460px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    display: none;
    color: aliceblue;
    font-size: 45px;
    text-align: center;
}

section{
    margin: auto;
    border: solid rgb(158, 35, 35) 2px;
    width: 456px;
    height: 86px;
}

input{
    width: 80px;
    height: 80px;
    background-color: rgb(0, 89, 255);
    border: solid whitesmoke 2px;
    text-align: center;
    color: whitesmoke;
    font-size: 45px;
    text-transform: uppercase;
}

#retry1 input{
    width: 120px;
    height: 50px;
    font-size: 20px;
    background-color: red;
}

#retry2 input{
    width: 120px;
    height: 50px;
    font-size: 20px;
    background-color: red;
    
}

#retry1{
    text-align: center;
    display: none;
}

#retry2{
    text-align: center;
    display: none;
}

#zoneJeu{
    display:none;
}

#reglesDuJeu{
    color: aliceblue;
    text-align: center;
    border: none;
    font-family: 'Questrial', sans-serif;
}

#reglesDuJeu h2{
    margin-bottom: 40px;
}

#disclaim{
    margin-top: 20px;
    font-style: italic;
}

